name: CI

on:
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 21
        uses: actions/setup-java@v2
        with:
          java-version: '21'
          distribution: 'adopt'

  test:
    needs: [ build ]
    runs-on: ubuntu-latest
    steps:
      - uses: action/checkout@v3
      - name: Set up JDK 21
        with:
          java-version: '21'
          distribution: 'adopt'


      - name: Build with Maven
        run: mvn -B clean test
